html, body {background-color: #d5e9ed; color: #b9b9b9; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
p {margin: 0px; padding: 0px;}
.clear {clear: both; display: block;}
.fright {float: right;}

table {width:100%; border: 0px; border-collapse: collapse; border-spacing: 0px;}
td, th {border: 0px solid black; vertical-align: top; text-align: left;}
th {color: #565353; padding-left: 10px; text-transform: uppercase; font-size: 0.9em; padding-bottom: 5px;}
td {color: #b9b9b9;}

table.bookings {margin: 0px 0px 0px -20px; width: 850px;}
.padding_left {padding-left: 20px;}
.padding_right {padding-right: 20px;}

tr.top_info {background-image: url('/images/item_back.png'); background-position: left top; background-repeat: repeat-x; height: 64px;}
tr.bottom_info {background-image: url('/images/item_back.png'); background-position: left bottom; background-repeat: repeat-x; height: 75px;}
tr.bottom_info p {padding-bottom: 5px;}
th.customer {width: 280px;}
th.arrival {width: 145px;}
th.pickup {}
th.flight {width: 100px;}
td.customer {color: white; font-weight: bold;}
td.arrival {color: white; font-weight: bold;}
td.pickup {color: #3ebeea; font-weight: bold;}
td.flight {color: #3ebeea; text-transform: uppercase; font-weight: bold;}
td.flight div.window {text-align: center;}
td.actions {vertical-align: bottom; text-align: right; padding-bottom: 10px;}

.window {position: relative; margin: 10px 17px 15px 0px; padding: 0px 15px 0px 10px; background-image: url('/images/window_back.png'); background-repeat: repeat-x; height: 41px; line-height: 41px;}
.window .window_left {position: absolute; left: -7px; top: 0px; background-image: url('/images/window_left.png'); height: 41px; width: 7px;}
.window .window_right {position: absolute; right: -5px; top: 0px; background-image: url('/images/window_right.png'); height: 41px; width: 5px;}

#body_wrap {width: 850px; margin: 0px auto; position: relative;}

#logo {display: block; background-image: url('/images/logo.png'); width: 245px; height: 77px; position: absolute; top: 10px; left: 30px;}

.admin_links {height: 140px; float: right; color: #676969; text-align: right;}
.admin_links a {color: white; font-size: 11px; line-height: 36px; text-align: center; text-decoration: none; text-transform: uppercase; margin-left: 10px; margin-top: 60px; display: block; float: left; background-image: url('/images/menu_button.png'); width: 120px; height: 36px;}
.admin_links a.logout {color: #676969; font-size: 12px; line-height: 12px; text-decoration: none; text-transform: none; margin: 0px; display: inline; float: none; background-image: none;}

#content_wrap {background-image: url('/images/content_back.png'); clear: both; padding: 20px; box-shadow: 0 0 10px 0 #555555; border-radius: 3px;}

.error_messages {color: red; font-weight: bold; margin-bottom: 5px;}

.field_with_errors {display: inline; color: #f00; font-weight: bold;}

form {margin-bottom: 10px;}
form .window {width: 170px; float: right; padding-right: 5px; margin-top: 0px; margin-bottom: 0px; overflow: visible; text-overflow: visible;}
form .window input, form .window select, form select {border: 0px; background-color: transparent; color: #737373;}
form .window text {border: 0px; background-color: transparent; color: #737373;}
form .submit {background-color: #343235; border: 1px solid #bbbaba; border-radius: 3px; color: white; width: 80px; height: 25px; margin-right: 15px;}
form.no_window_float .window {float: none;}
form label {margin: 5px 0px;}
form textarea {border-radius: 3px; border: 1px solid #555; background-color: #272725; box-shadow: 0 0 10px 0 #555555;}

div.field, div.actions {margin-bottom: 10px;}

#buttons {margin-bottom: 10px;}

.auto_complete {z-index: 1000;}

a.delete {background-image: url('/images/icon_delete.png'); display: block; height: 15px; width: 15px; float: left;}
a.edit {background-image: url('/images/icon_edit.png'); display: block; height: 15px; width: 15px; float: left;}
a.show {background-image: url('/images/icon_show.png'); display: block; height: 15px; width: 15px; float: left;}