div.field, div.actions {
	margin-bottom: 10px;
}

#buttons {
	margin-bottom: 10px;
}


table {
width:90%;
border:1px solid #e5eff8;
margin:1em auto;
border-collapse:collapse;
font: 14px "Helvetica", Arial;
}

td {
color:#678197;
border:1px solid #e5eff8;
padding:.3em 1em;
text-align:center;
}

.admin_links a {margin-right: 10px;}

.error_messages {color: red; font-weight: bold; margin-bottom: 5px;}

.field_with_errors {display: inline; color: #f00; font-weight: bold;}

.filter_form .field {float: left;}