<h2><%= image_tag "/images/arrival.png", :alt => "arrival" %></h2>
<%= render :partial => "bookings", :locals => {:items => @bookings_arrival, :delete_link => false} %>

<hr class="shadow" />

<h2><%= image_tag "/images/departure.png", :alt => "departure" %></h2>
<%= render :partial => "bookings", :locals => {:items => @bookings_departure, :delete_link => false, :departure => true} %>