<h2>Arrivals</h2>
<%= render :partial => "bookings", :locals => {:items => @bookings_arrival} %>

<br />

<h2>Departures</h2>
<%= render :partial => "bookings", :locals => {:items => @bookings_departure} %>