<h1><%= image_tag "/images/bookings.png", :alt => "bookings" %></h1>

<%= render :partial => "filter_form" %>

<%= render :partial => "bookings", :locals => {:items => @bookings} %>

<%= will_paginate @bookings %>